@page "/"
@*
Unless InteractiveServer or InteractiveAuto is used, ElementReference.FocusAsync does not work.
To be clear, InteractiveWebAssembly does not work, nor does lack of rendermode attribute.
*@
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<Component1></Component1>

<input name="example-autofocus" @ref=Control />

@code {
    [Parameter]
    public ElementReference Control { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Control.FocusAsync();
    }
}