@inject IJSRuntime js
@implements IAsyncDisposable

<div class="my-component">
    This component is defined in the <strong>DaySpaPet.Web</strong> library.
    <p>
        <button @onclick="TriggerPrompt">Trigger browser window prompt</button>
    </p>

    <p>
        @result
    </p>
</div>


@code {
    private IJSObjectReference? module;
    private string? result;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await js.InvokeAsync<IJSObjectReference>("import", "./_content/DaySpaPet.Web/Components/Component1.razor.js");
        }
    }

    private async Task TriggerPrompt()
    {
        result = await Prompt("Provide some text");
    }

    private async ValueTask<string?> Prompt(string message) =>
        module is not null ?
            await module.InvokeAsync<string>("showPrompt", message) : null;

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
            await module.DisposeAsync();
    }
}